.About {
    width: 100%;
}

.About-body {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.Intro {
    margin-bottom: 5vh;
    text-align: center;
}

.Section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4vh 0;
    flex-grow: 1;
}

#about-title {
    margin: 0 0 4vh 0;
    text-align: center;
    text-decoration: underline;
    font-size: calc(10px + 3vmin);
}

#about-text {
    text-align: justify;
}

.Text {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.Images {
    width: 50%;
    margin: auto;
    align-items: flex-end;
}

.Images img {
    height: 60vh;
}

@media screen and (max-width: 1200px) {
    .Section {
        flex-direction: column;
    }

    .Text {
        width: 100%;
    }

    .Images {
        width: 100%;
        margin: 1vh auto 3vh auto;
    }

    #about-title {
        margin: 3vh 0;
    }
}