.Resume-bullets {
    display: inherit;
    align-items: center;
    justify-content: center;
    padding-left: 30px ;
    width: 60%;
    margin: auto;
    text-indent: -30px ;
    text-align: left;
}

.Resume-bullets li {
    list-style-position: inside;
}

.Section-title {
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Resume-img {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.Resume-img img {
    width: 400px;
}

.School-information {
    display: inherit;
    margin: auto;
    text-align: center;
    width: 60%;
    font-size: calc(6px + 2vmin);
}

.Resume-title {
    margin: auto;
    width: 60%;
    display: flex;
    font-size: calc(6px + 2vmin);
}

.Coding-skills li{
    display: inline;
    padding-right: 1em;
}

ul {
    list-style: none;
}

.Resume-body {
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}