.Resume-bullets {
    display: inherit;
    text-align: justify;
    width: 60%;
    margin: 0 auto 0 auto;
    /*text-indent: -30px ;
    padding-left: 30px ;*/
}

.Resume-bullets li {
    list-style-position: inside;
    margin-bottom: 12px;
}

.Next-button {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.Next-button a {
    margin: 8px;
    color: black
}

.Resume-img {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 1vh;
}

.Resume-img img {
    width: 400px;
}

.School-information {
    display: inherit;
    margin: 0 auto 10px auto;
    text-align: center;
    width: 60%;
    font-size: calc(8px + 2vmin);
}

.Resume-title {
    margin: 0 auto 10px auto;
    justify-content: center;
    width: 60%;
    display: flex;
    font-size: calc(8px + 2vmin);
}

.Coding-skills li{
    display: inline;
    padding-right: 1em;
    margin-bottom: 4vh;
}

.Coding-skills {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.Resume-body {
    width: auto;
}