.Resume-bullets {
    display: inherit;
    text-align: left;
    width: 70%;
    margin: 0 auto 0 auto;
}

.Resume-bullets li {
    list-style-position: inside;
    margin-bottom: 12px;
}

.Next-button {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.Next-button a {
    margin: 8px;
    color: black;
}

.Resume-img {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 1vh;
}

.Resume-img img {
    max-width: 35%;
}

.School-information {
    display: inherit;
    margin: 0 auto 10px auto;
    text-align: center;
    width: 70%;
}

.School-information h3 {
    font-weight: normal;
}

.Resume-title {
    margin: 0 auto 10px auto;
    justify-content: center;
    width: 70%;
    text-align: center;
    display: flex;
}

.Coding-skills li {
    padding-right: 1em;
    margin-bottom: 4vh;
}

.Coding-skills {
    display: flex;
    max-width: 70%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

ul {
    list-style: none;
}

.Resume {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .Resume-bullets {
        width: 80%;
    }

    .Resume-img img {
        max-width: 50vmin;
    }
}