.App {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.App-logo {
  max-height: 35vmin;
  max-width: 35vmin;
  pointer-events: none;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #8DAA9D;
  padding: 8vmin;
}

.App-body {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-content: space-evenly;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3vmin;
}

.Socials {
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.Socials img {
  height: 4vmin;
  display: flex;
  background: transparent;
  align-content: center;
  justify-content: center;
  border: none;
}

#email {
  font-size: 4vmin;
  align-self: flex-start;
  text-align: left;
}

.Socials a{
  display: flex;
  margin: 1vmin;
  color: black;
  text-decoration: none;
  background: transparent;
  box-shadow: none;
}

.App-body p {
  text-align: left;
  margin: 1vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .App-body {
    width: 80%;
  }
}