.App {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  text-align: center;
}

.App-logo {
  height: 35vmin;
  margin: 4em;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  background-color: #8DAA9D;
  align-items: center;
  max-height: 100%;
  justify-content: center;
  margin-bottom: 7vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
