.App {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.App-logo {
  max-height: 35vmin;
  max-width: 35vmin;
  pointer-events: none;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #8DAA9D;
  max-height: 40vmin;
  padding: 8vmin;
}

.App-body {
  padding: 7vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
