.FontTools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.Font-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.FontTools button {
    background-color: #8DAA9D;
    font-size: 3vh;
    font-weight: bold;
    border: none;
    color: white;
    padding: 0 2vmin;
    margin: 1vh 1vh;
    max-width: 20%;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px lightgray;
}

.FontTools p {
    background-color: #8DAA9D;
    padding: 0.5vmin 0.5vmin;
    text-align: center;
    box-shadow: 2px 2px lightgray;
}