.FontTools button {
    background-color: #8DAA9D;
    font-size: 3vh;
    font-weight: bold;
    border: none;
    color: white;
    padding: 0 5vmin;
    margin: 2.5vh 1.5vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 2px 2px lightgray;
}

.FontTools p {
    background-color: #8DAA9D;
    text-align: center;
    box-shadow: 2px 2px lightgray;
}