.Layout {
    display: flex;
    flex-direction: column;
    background-color: #FBF5F3;
    min-height: 100vh;
    width: 100%
}
.Layout-body {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    margin-bottom: 3vh;
    flex-grow: 1;
    font-size: 2vh;
    color: black;
}

.Layout-header {
    top: 0;
    background-color: #8DAA9D;
    width: 100%; /* Full width */
}

.Layout-footer {
    display: flex;
    margin: 1vmin 0;
    background-color: #FBF5F3;
    justify-content: center;
    width: 100%; /* Full width */
}

.Layout-link {
    color: #61dafb;
}

.Nav-right {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.Nav-right a {
    padding: 1em;
    color: black;
    text-shadow: 1px 1px lightgray;
    text-decoration: none;
    font-weight: bolder;
}

.Nav-right a:hover, .Drop-down:hover #Drop-down-button{
    background-color: #FBF5F3;
}

.Standout-text {
    font-weight: bolder;
}

.Drop-down {
    float: left;
    overflow: hidden;
}

.Drop-down #Drop-down-button {
    font-size: inherit;
    display: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.Drop-down-resume {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.Drop-down-resume a {
    background-color: #FBF5F3;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-flex;
    text-align: left;
}

.Drop-down-resume a:hover {
    background-color: #D3D3D3;
}

.Drop-down:hover .Drop-down-resume {
    display: flex;
    position: absolute;
    flex-direction: column;
}

.Section-title {
    display: flex;
    min-height: 25vh;
    width: 100%;
    background: #8DAA9D;
    color: black;
    margin: 0 auto 7vh auto;
    font-size: 5vmin;
    padding: 0;
    justify-content: center;
}

.Section-title h1 {
    margin: auto;
    text-align: center;
    text-shadow: 1.5px 1.5px lightgray;
}

@media screen and (max-width: 1200px) {
    .Section-title {
        min-height: 20vh;
    }
}

